.comment {
  display: flex;
  flex-flow: row wrap;
  padding: 0.75rem 1rem;
}

.comment a {
  color: #000000;
  text-decoration: underline;
}

.text {
  overflow: hidden;
  flex: 1 1 100%;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.75rem 0;
}

.kids {
  padding-left: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .comment {
    padding: 0.75rem 0.5rem;
  }

  .kids {
    padding-left: 0.5rem;
  }
}
